VITE_DIDA_CLIENT_ID=your_client_id_here
VITE_DIDA_CLIENT_SECRET=your_client_secret_here

# TickTick (international version) OAuth credentials
# Get from: https://developer.ticktick.com/manage
VITE_TICKTICK_CLIENT_ID=your_ticktick_client_id_here
VITE_TICKTICK_CLIENT_SECRET=your_ticktick_client_secret_here

# Todoist OAuth credentials
# Get from: https://developer.todoist.com/appconsole.html
VITE_TODOIST_CLIENT_ID=your_todoist_client_id_here
VITE_TODOIST_CLIENT_SECRET=your_todoist_client_secret_here
